@{
    ViewData["Title"] = "PUC LDSI - Módulo Professor";
}
<style>
p { padding-top: 10px;}
</style>
<div>
    <h1 style="font-family:Verdana"><b>PUC - LDSI</b></h1>
    <h2>Módulo do Professor</h2>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <img src="~/images/teacher.jpg" />
        </div>
        <div class="col-md-6">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget diam nisl. Sed convallis tincidunt cursus. Praesent in pellentesque diam. Sed enim risus, laoreet id pulvinar eu, efficitur quis turpis. Sed ut luctus nunc. Vivamus eu libero sem. Donec tincidunt est sit amet ex molestie, vel bibendum velit rutrum. Vivamus consectetur facilisis tristique. Proin gravida fringilla sagittis.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget diam nisl. Sed convallis tincidunt cursus. Praesent in pellentesque diam. Sed enim risus, laoreet id pulvinar eu, efficitur quis turpis. Sed ut luctus nunc. Vivamus eu libero sem. Donec tincidunt est sit amet ex molestie, vel bibendum velit rutrum. Vivamus consectetur facilisis tristique. Proin gravida fringilla sagittis.
            </p>
        </div>
        <div class="row">
            <div class="col-md-9">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget diam nisl. Sed convallis tincidunt cursus. Praesent in pellentesque diam. Sed enim risus, laoreet id pulvinar eu, efficitur quis turpis. Sed ut luctus nunc. Vivamus eu libero sem. Donec tincidunt est sit amet ex molestie, vel bibendum velit rutrum. Vivamus consectetur facilisis tristique. Proin gravida fringilla sagittis.
                </p>
            </div>
        </div>
    </div>
</div>
