@model PUC.LDSI.Domain.Entities.Turma

@{
    ViewData["Title"] = "Exclusão de Turma";
}

<h3>Confirma a exclusão dessa turma?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id"  />
        <input type="submit" value="Excluir" class="btn btn-default" />
        <a asp-action="Index" class="btn btn-default">Cancelar</a>
    </form>
</div>
