@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<h1 class="text-danger">Ops!</h1>
<h4 style="margin-top:30px;" class="text-danger">Um erro ocorreu durante o processamento do seu pedido.</h4>
<h3 style="margin-top:30px;">@Model.ErrorMessage</h3>
<p style="margin-top:30px;"><a href="javascript:window.history.back();" class="btn btn-default">Voltar</a></p>

