@model PUC.LDSI.Domain.Entities.Publicacao

@{
    ViewData["Title"] = "Alterar Publicação";
}

<h2>@ViewData["Title"]</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AvaliacaoId" class="control-label">Avaliação</label>
                <select asp-for="AvaliacaoId" class="form-control" asp-items="ViewBag.AvaliacaoId"></select>
                <span asp-validation-for="AvaliacaoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TurmaId" class="control-label">Turma</label>
                <select asp-for="TurmaId" class="form-control" asp-items="ViewBag.TurmaId"></select>
                <span asp-validation-for="TurmaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInicio" class="control-label">Início</label>
                <input asp-for="DataInicio" class="form-control" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFim" class="control-label">Fim</label>
                <input asp-for="DataFim" class="form-control" />
                <span asp-validation-for="DataFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorProva" class="control-label">Valor da Prova</label>
                <input asp-for="ValorProva" class="form-control" />
                <span asp-validation-for="ValorProva" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
                <a asp-action="Index" class="btn btn-default">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
